/* 全局配置 */

@font-face {
    font-family: "Roboto";
    src: url(res/Google_Fonts/Roboto/Roboto-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Noto_Sans_JP";
    src: url(res/Google_Fonts/Japanese/Noto_Sans_JP/NotoSansJP-Regular.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Noto_Sans_SC";
    src: url(res/Google_Fonts/Chinese_Simplified/Noto_Sans_SC/NotoSansSC-Regular.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Noto_Sans_TC";
    src: url(res/Google_Fonts/Chinese_Traditional/Noto_Sans_TC/NotoSansTC-Regular.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Noto_Sans_HK";
    src: url(res/Google_Fonts/Chinese_Hong_Kong/Noto_Sans_HK/NotoSansHK-Regular.otf);
    font-style: normal;
    font-weight: normal;
}

* {
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Roboto', 'Noto_Sans_JP', 'Noto_Sans_SC', 'Noto_Sans_TC', 'Noto_Sans_HK', 'Microsoft Yahei', 'Times New Roman', Times, serif;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* body {
    background-image: url(images/Forever\ Love.jpg);
    background-repeat: repeat;
    background-size: cover;
} */

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
    text-decoration: none;
}


/* 全局配置结束 */

body {
    min-width: 320px;
}

.container {
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    height: 50px;
    font-size: 24px;
    color: #fff;
    background-color: #0078D4;
}

header>* {
    height: 50px;
    line-height: 50px;
}

header .title {
    flex: 1;
    text-align: center;
    cursor: default;
}

header .headpic {
    width: 50px;
    transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear 0s;
    border-radius: 50%;
}

header .headpic:hover {
    cursor: pointer;
    background-color: #004d88;
}

header .headpic img {
    width: 100%;
}

footer {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 50px;
    font-size: 1em;
    color: #fff;
    background-color: #0078D4;
}

footer>* {
    height: 50px;
    line-height: 50px;
}

footer:hover {
    cursor: default;
}

.content {
    width: 100%;
    background-color: #F3F2F1;
}

header .openMenu {
    width: 50px;
    transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear 0s;
}

header .openMenu svg {
    fill: currentColor;
    transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear 0s;
}

header .openMenu svg:hover {
    background-color: #004d88;
    cursor: pointer;
}

.menu {
    position: fixed;
    overflow-x: hidden;
    overflow-y: auto;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 280px;
    z-index: 999;
    background: #fff;
    color: rgba(0, 0, 0, .54);
    box-shadow: 0 0 16px rgba(0, 0, 0, .28);
    transform: translateX(-280px);
    /* will-change: visibility; */
    transition: transform .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear .25s;
}

.menu.show {
    visibility: visible;
    transform: translateX(0px);
    transition: transform .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear 0s;
}

.menuheader {
    width: 280px;
    height: 50px;
    background-color: #0078D4;
}

.menu .hideMenu {
    width: 50px;
    height: 50px;
    background-color: #0078D4;
}

.menu .hideMenu svg {
    fill: #fff;
    transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear 0s;
}

.menu .hideMenu svg:hover {
    background-color: #004d88;
    cursor: pointer;
}

.menuList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.menuList a {
    display: block;
    box-sizing: border-box;
    width: 280px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear 0s;
}

.menuList a:hover {
    background-color: #F3F2F1;
    /* transform: scale(1.1); */
}

.mask {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 998;
    cursor: pointer;
    /* transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1); */
}

.mask.show {
    width: 100%;
}


/* 默认 */

#index #menuList #index,
#bing #menuList #bing,
#video #menuList #video,
#music #menuList #music,
#about #menuList #about,
#mars2020 #menuList #mars2020,
#NewGuid #menuList #NewGuid {
    color: #0078D4;
    background-color: #F3F2F1;
}


/* 小于600px */

@media screen and (max-width: 600px) {
    .page {
        display: none;
    }
    .menu {
        width: 200px;
    }
    .menuheader {
        width: 200px;
    }
    .menuList a {
        width: 200px;
    }
    footer {
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }
    footer>* {
        height: 25px;
        line-height: 25px;
    }
}


/* 大于600px */

@media screen and (min-width: 600px) {
    .page a {
        display: none;
        width: auto;
        margin: 0 0 0 30px;
        text-align: center;
        color: #fff;
    }
    .page a:hover {
        cursor: pointer;
    }
    #index .page #index,
    #bing .page #bing,
    #video .page #video,
    #music .page #music,
    #about .page #about,
    #mars2020 .page #mars2020,
    #NewGuid .page #NewGuid {
        display: block;
    }
    .content {
        background: linear-gradient(green, yellow);
        background-image: url(images/Forever\ Love.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    footer {
        justify-content: space-between;
    }
    footer>* {
        margin: 0 30px;
    }
}

.rightContextMenu {
    box-sizing: border-box;
    visibility: hidden;
    position: fixed;
    z-index: 998;
    width: 100px;
    height: 100px;
    overflow: auto;
    background-color: #fff;
    color: #0078D4;
    display: flex;
    font-size: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rightContextMenu.show {
    visibility: visible;
    transform: translateY(20px);
    transition: transform .25s cubic-bezier(0.4, 0.0, 0.2, 1), visibility 0s linear 0s;
}