/* 全局配置 */

* {
    padding: o;
    margin: 0;
    font-family: 'Microsoft Yahei', 'Times New Roman', Times, serif;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* body {
    background-image: url(images/Forever\ Love.jpg);
    background-repeat: repeat;
    background-size: cover;
} */

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}


/* 全局配置结束 */

.container {
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #0078D4;
}

header .title {
    flex: 1;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 24px;
}

header .headpic {
    width: 50px;
    height: 50px;
    transition: all .5s;
}

header .headpic:hover {
    background-color: #004d88;
    cursor: pointer;
}

header .headpic img {
    width: 100%;
}

.content {
    width: 100%;
    background-color: #F3F2F1;
    /* background-image: url(images/Forever\ Love.jpg);
    background-repeat: repeat;
    background-size: contain; */
}

#menuList a {
    display: block;
    width: 100%;
    color: #000;
    overflow: hidden;
    text-align: left;
}

@media screen and (max-width: 172px) {
    header .title {
        display: none;
    }
}

@media screen and (max-width: 200px) {
    .menuList {
        display: none;
    }
}

header .menuIcon {
    width: 50px;
    height: 50px;
}

header .menuIcon svg {
    fill: currentColor;
    color: #fff;
    transition: all .5s;
}

header .menuIcon svg:hover {
    background-color: #004d88;
    cursor: pointer;
}

.menuList {
    position: fixed;
    left: 0;
    width: 0;
    height: 0;
    overflow: auto;
    opacity: 0;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .5);
    /* 消失时的动画 */
    transition: all .2s;
}

.menuList.show {
    opacity: 1;
    /* 显示时的动画 */
    transition: all .5s;
    background-color: #fff;
}

.menuHeader {
    height: 50px;
}

.menuHeader svg {
    fill: currentColor;
    z-index: 2;
    transition: all .5s;
}

.menuHeader svg:hover {
    fill: currentColor;
    z-index: 2;
    cursor: pointer;
}


/* 小于540px */

@media screen and (max-width: 540px) {
    .menuList {
        top: 0;
    }
    .menuList.show {
        top: 0;
        width: 200px;
        height: 100%;
    }
    .menuHeader svg {
        color: #000;
    }
    .menuHeader svg:hover {
        background-color: #004d88;
        color: #fff;
    }
}


/* 大于540px */

@media screen and (min-width: 540px) {
    .menuIcon.down {
        background-color: #004d88;
    }
    .menuList {
        top: 50px;
    }
    .menuList.show {
        top: 50px;
        width: 540px;
        height: 300px;
    }
    .menuHeader {
        display: none;
    }
}