/* 全局配置 */

* {
    padding: o;
    margin: 0;
    font-family: 'Microsoft Yahei', 'Times New Roman', Times, serif;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* body {
    background-image: url(images/Forever\ Love.jpg);
    background-repeat: repeat;
    background-size: cover;
} */

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}


/* 全局配置结束 */

.container {
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #0078D4;
}

header .title {
    flex: 1;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 24px;
}

header .headpic {
    width: 50px;
    height: 50px;
    transition: all .5s;
}

header .headpic:hover {
    background-color: #004d88;
    cursor: pointer;
}

header .headpic img {
    width: 100%;
}

.content {
    width: 100%;
    background-color: #F3F2F1;
    /* background-image: url(images/Forever\ Love.jpg);
    background-repeat: repeat;
    background-size: contain; */
}


/* 小于172px - title 宽度 */

@media screen and (max-width: 172px) {
    header .title {
        display: none;
    }
}


/* 小于200px - 不显示菜单 */

@media screen and (max-width: 200px) {
    .menu {
        display: none;
    }
}

header .openMenu {
    width: 50px;
    height: 50px;
}

header .openMenu svg {
    fill: currentColor;
    color: #fff;
    transition: all .5s;
}

header .openMenu svg:hover {
    background-color: #004d88;
    cursor: pointer;
}

.menu {
    position: fixed;
    left: 0;
    width: 0;
    height: 0;
    overflow: auto;
    opacity: 0;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .5);
    /* 消失时的动画 */
    transition: all .2s;
}

.menu.show {
    opacity: 1;
    height: 0;
    /* 显示时的动画 */
    transition: all .5s;
    background-color: #fff;
}

.hideMenu {
    width: 50px;
    height: 50px;
}

.hideMenu svg {
    fill: currentColor;
    transition: all .5s;
}

.hideMenu svg:hover {
    fill: currentColor;
    cursor: pointer;
}


/* 菜单 */

.menuList {
    display: flex;
}

.menuList a {
    display: block;
    width: 120px;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}


/* 小于540px */

@media screen and (max-width: 540px) {
    .menu.show {
        top: 0;
        width: 200px;
        height: 100%;
    }
    .hideMenu svg {
        color: #000;
    }
    .hideMenu svg:hover {
        background-color: #004d88;
        color: #fff;
    }
    .menuList {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .menuList a {
        display: block;
        width: auto;
        height: 32px;
        line-height: 32px;
    }
    .menuList a img {
        display: none;
    }
}


/* 大于540px */

@media screen and (min-width: 540px) {
    .openMenu.down {
        background-color: #004d88;
    }
    .menu.show {
        top: 50px;
        width: 480px;
        height: auto;
        overflow: auto;
    }
    .hideMenu {
        display: none;
    }
    .menuList {
        flex-direction: row;
    }
    .menuList a img {
        width: 100%;
    }
}