/* 全局配置 */

* {
    padding: o;
    margin: 0;
    font-family: 'Microsoft Yahei', 'Times New Roman', Times, serif;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* body {
    background-image: url(images/Forever\ Love.jpg);
    background-repeat: repeat;
    background-size: cover;
} */

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
    text-decoration: none;
}


/* 全局配置结束 */

body {
    min-width: 200px;
}

.container {
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    font-weight: bold;
    font-size: 24px;
    color: #fff;
    background-color: #0078D4;
}

header>* {
    height: 50px;
    line-height: 50px;
}

header .title {
    flex: 1;
    text-align: center;
}

header .headpic {
    width: 50px;
    transition: all .5s;
}

header .headpic:hover {
    cursor: pointer;
    background-color: #004d88;
}

header .headpic img {
    width: 100%;
}

.content {
    width: 100%;
    background-color: #F3F2F1;
    /* background-image: url(images/Forever\ Love.jpg);
    background-repeat: repeat;
    background-size: contain; */
}

header .openMenu {
    width: 50px;
}

header .openMenu svg {
    fill: currentColor;
    transition: all .5s;
}

header .openMenu svg:hover {
    background-color: #004d88;
    cursor: pointer;
}

.menu {
    position: fixed;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .1s;
}


/* 默认 */

.menu.show {
    height: 0;
    opacity: 1;
    overflow: hidden;
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, .5);
    background-color: #fff;
}

.menuList {
    display: flex;
}

.menuList a {
    display: block;
    line-height: 40px;
}

.menuList a:hover {
    background-color: #F3F2F1;
    transition: all .5s;
}

.hideMenu {
    width: 50px;
    height: 50px;
    color: #fff;
}

.hideMenu svg {
    fill: currentColor;
    transition: all .5s;
}

.hideMenu svg:hover {
    fill: currentColor;
    cursor: pointer;
}


/* 小于600px */

@media screen and (max-width: 600px) {
    #index #menuList #index {
        color: #0078D4;
        background-color: #F3F2F1;
    }
    #index .page a {
        display: none;
    }
    .menu.show {
        top: 0;
        width: 200px;
        height: 100%;
        transition: width .1s;
        overflow-y: auto;
    }
    .hideMenu svg {
        color: #000;
    }
    .hideMenu svg:hover {
        color: #fff;
        background-color: #0078D4;
    }
    .menuList {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menuList a {
        box-sizing: border-box;
        width: 200px;
        height: 40px;
        text-align: center;
    }
    .menuList a img {
        display: none;
    }
}


/* 大于600px */

@media screen and (min-width: 600px) {
    #index .page a {
        display: none;
        color: #fff;
    }
    #index .page #index {
        display: block;
    }
    #index .page a {
        width: 100px;
        text-align: center;
    }
    #index .page a:hover {
        cursor: pointer;
    }
    .openMenu.down {
        background-color: #004d88;
    }
    .menu.show {
        top: 50px;
        width: 600px;
        height: 244px;
        transition: all .1s;
    }
    .hideMenu {
        display: none;
    }
    .menuList {
        flex-wrap: wrap;
        width: 600px;
        height: 244px;
    }
    .menuList a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        margin: 10px;
        width: 100px;
        height: 100px;
    }
    .menuList a:hover {
        transform: scale(1.1);
    }
    .menuList a img {
        width: 50px;
        height: 50px;
    }
}